.detailsContainer {
  display: flex;
  width: 70%;
  margin: 0 auto;
  border: 1px solid orange;
  padding: 10px;
  background: white;
  margin-top: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.info {
  width: 80%;
  margin-left: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: start; */
  color: black;
}

.info p {
  margin-top: 50px;
  color: rgb(132, 127, 127);
}

.detailBtn {
  height: 55px;
  padding: 2px;
  background: orange;
  font-weight: bold;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 4px;
}
.detailBtn:active {
  margin-top: 28px;
}

.closeBtn {
  width: 30px;
  height: 30px;
  background-color: black;
  padding: 8px;
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
}

.closeBtn:hover {
  background-color: rgb(127, 144, 146);
}

.info span {
  color: rgb(158, 222, 81);
}

@media only screen and (max-width: 550px),
  only screen and (max-device-width: 550px) {
  .detailsContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }
  /* .info {
    display: flex;
    flex-direction: column;
  } */
  .detailImg {
    width: 100%;
  }

  .detailImg img {
    width: 330px;
  }
  .closeBtn {
    position: absolute;
    top: 87px;
    right: 23px;
  }
} ;
