.detailsContainer {
  display: flex;
  width: 70%;
  margin: 0 auto;
  border: 1px solid orange;
  padding: 10px;
  background: white;
  margin-top: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.info {
  width: 80%;
  margin-left: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: start; */
  color: black;
}

.info p {
  margin-top: 50px;
}

.detailBtn {
  height: 55px;
  padding: 2px;
  background: orange;
  font-weight: bold;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 4px;
}
.detailBtn:active {
  margin-top: 28px;
}
