.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "budmojiggler", "Times New Roman", Times, serif;
}
h1 {
  font-size: 72px;
  letter-spacing: 5px;
}
.btn {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.btnRed {
  text-decoration: none;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 15px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #d90429;
}
.btnRed:hover {
  background-color: #ef233c;
}
.btnRed:active {
  top: 2px;
}

@media only screen and (max-width: 550px),
  only screen and (max-device-width: 550px) {
  .container {
    height: 70vh;
  }
}
