header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  align-items: center;
}

nav {
  display: flex;

  list-style: none;
}
nav li {
  margin-left: 40px;
}

nav li a {
  text-decoration: none;
  color: orange;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

nav li a:hover,
nav li a.active {
  color: white;
}

.logoImg {
  height: 70px;
}
