@font-face {
  font-family: "mexcellent3d";
  src: local("mexcellent3d"),
    url("./assets/fonts/mexcellent3d.ttf") format("truetype");
  font-family: "budmojiggler";
  src: local("budmojiggler.ttf"),
    url("./assets/fonts/budmojiggler.ttf") format("truetype");
}

body {
  background-image: linear-gradient(
      166deg,
      rgba(28, 0, 1, 0.6643907563025211) 35%,
      rgba(158, 1, 33, 1) 100%
    ),
    url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
}
