@font-face {
  font-family: "mexcellent3d";
  src: local("mexcellent3d"),
    url("./assets/fonts/mexcellent3d.ttf") format("truetype");
  font-family: "budmojiggler";
  src: local("budmojiggler.ttf"),
    url("./assets/fonts/budmojiggler.ttf") format("truetype");
}

body {
  background-image: linear-gradient(
      166deg,
      rgba(28, 0, 1, 0.6643907563025211) 35%,
      rgba(158, 1, 33, 1) 100%
    ),
    url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
}

.loader-container {
  height: 100vh;
  margin-top: 20%;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #f0a21b);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}

.moviesContainer {
  height: 2000px;
  color: rgb(252, 181, 50);
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
